[Desktop Entry]
Type=Application
Name=Smotrim Downloader
Comment=Download videos from smotrim.ru
Exec=smotrim-downloader
Icon=smotrim-downloader
Categories=Network;Video;
Terminal=false