Package: smotrim-downloader
Version: 0.1.0-1
Architecture: amd64
Maintainer: Your Name <email@example.com>
Installed-Size: 83
Depends: libc6 (>= 2.34), libglib2.0-0t64 (>= 2.38.0), libgtk-3-0t64 (>= 3.16.2), yt-dlp, ffmpeg
Section: video
Priority: optional
Description: Download videos from smotrim.ru
 Simple GUI for downloading videos from smotrim.ru.
